body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.outer {
  border: 2px solid black;
  width: 100rem;
  display: flex;
}
.form {
  display: inline-flex;
  width: 50%;
  height: 40%;
  padding: 2rem;
  border: 2px solid black;
}
.fields {
  padding: 2rem;
  margin: 10%;
}
fieldset {
  width: 30rem;
}
.field {
  margin: 20px;
  width: 60%;
  height: 15%;
  padding: auto;
}

.displayData {
  width: 60rem;
  height: 48%;
  border: 2px solid black;
  padding: 0.5rem;
  float: right;
  margin: 100px 50px 0px 50px;
  position: relative;
  top: 40px;
}

table,
th,
td {
  border: 2px solid black;
  text-align: center;
  border-collapse: collapse;
  padding: 8px;
}
table tr {
  border: 2px solid red;
}
